{% extends 'admin.html.twig' %}

{% import "includes/macros/back.html.twig" as back %}
{% import "includes/macros/forms.html.twig" as form %}

{% block title %}
    Gestion des membres -
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ assets('assets/css/dataTables.min.css') }}" rel="stylesheet" />
    <link href="{{ assets('assets/css/animate.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ assets('assets/js/dataTables.min.js') }}"></script>
    <script src="{{ assets('assets/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ assets('assets/js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ assets('assets/js/notifications.js') }}"></script>
    <script src="{{ assets('assets/js/admin.js') }}"></script>
    <script src="{{ assets('assets/js/app.js') }}"></script>
{% endblock %}

{% block bodyContent %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {{ back.headPage('Gestion des membres', [
            '<i class="fa fa-dashboard"></i> <a href="../' ~ getRoute('admin.ls_homepage') ~ '">Dashboard</a>',
            '<i class="fa fa-users"></i> Gestion des membres'
            ]) }}

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button href="#" class="btn btn-primary" id="btnAddMembre">
                                Ajouter
                            </button>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID Membre</th>
                                        <th class="text-center">Pseudo</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Civilité</th>
                                        <th class="text-center">Statut</th>
                                        <th class="text-center">Date d'enregistrement</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbodyMembres">
                                    {% for membre in liste_membres %}
                                        <tr>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getId }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getPseudo }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getNom }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getPrenom }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getEmail }}</td>
                                            <td style="vertical-align:middle" class="text-center">
                                                {% if membre.getCivilite == 'm' %}
                                                    Homme
                                                {% elseif membre.getCivilite == 'f' %}
                                                    Femme
                                                {% endif %}
                                            </td>
                                            <td style="vertical-align:middle" class="text-center">
                                                {% if membre.getStatut == '0' %}
                                                    Membre
                                                {% elseif membre.getStatut == '1' %}
                                                    Admin
                                                {% endif %}
                                            </td>
                                            <td style="vertical-align:middle" class="text-center">{{ membre.getDateEnregistrement|date('d/m/Y H:i') }}</td>
                                            <td style="vertical-align:middle" class="text-center">
                                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                                    <a href="#" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                    <a href="#" class="btnUpdateMembre btn btn-primary" data-id="{{ membre.getId }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a href="#" class="btnDeleteMembre btn btn-danger" data-id="{{ membre.getId }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->
    <div class="modal fade" id="membreModal" tabindex="-1" role="dialog" aria-labelledby="membreModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="membreModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" id="membreForm" action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.input('Pseudo', 'pseudo', 'text', 'md-4', 'md-8', 'Pseudo') }}
                                </div>
                                <div class="form-group">
                                    {{ form.input('Mot de passe', 'password', 'password', 'md-4', 'md-8', 'Mot de passe') }}
                                </div>
                                <div class="form-group">
                                    {{ form.input('Nom', 'nom', 'text', 'md-4', 'md-8', 'Nom') }}
                                </div>
                                <div class="form-group">
                                    {{ form.input('Prénom', 'prenom', 'text', 'md-4', 'md-8', 'Prénom') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.input('Email', 'email', 'email', 'md-3', 'md-9', 'Email') }}
                                </div>
                                <div class="form-group">
                                    {{ form.select('Civilité', 'civilite', ['Homme', 'Femme'], 'md-3', 'md-9') }}
                                </div>
                                <div class="form-group">
                                    {{ form.select('Statut', 'statut', ['Membre', 'Admin'], 'md-3', 'md-9') }}
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 pull-right">
                                        <button type="submit" class="btn btn-primary">
                                            Ajouter <span class="loader"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyContent %}