{% extends 'admin.html.twig' %}

{% import "includes/macros/back.html.twig" as back %}
{% import "includes/macros/forms.html.twig" as form %}

{% block title %}
    Gestion des produits -
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ assets('assets/css/dataTables.min.css') }}" rel="stylesheet" />
    <link href="{{ assets('assets/css/animate.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ assets('assets/js/dataTables.min.js') }}"></script>
    <script src="{{ assets('assets/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ assets('assets/js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ assets('assets/js/notifications.js') }}"></script>
    <script src="{{ assets('assets/js/admin.js') }}"></script>
    <script src="{{ assets('assets/js/app.js') }}"></script>
{% endblock %}

{% block bodyContent %}
    <div id="page-wrapper">
        <div class="container-fluid">
            {{ back.headPage('Gestion des produits', [
                '<i class="fa fa-dashboard"></i> <a href="../' ~ getRoute('admin.ls_homepage') ~ '">Dashboard</a>',
                '<i class="fa fa-inbox"></i> <a href="../' ~ getRoute('admin.ls_salles') ~ '">Gestion des salles</a>',
                '<i class="fa fa-object-group"></i> Gestion des produits'
            ]) }}

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button href="#" class="btn btn-primary" id="btnAddProduit">
                                Ajouter
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="resultRequest"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID Produit</th>
                                        <th class="text-center">Date d'arrivée</th>
                                        <th class="text-center">Date de départ</th>
                                        <th class="text-center">ID Salle / photo</th>
                                        <th class="text-center">Prix</th>
                                        <th class="text-center">Etat</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbodyProduit">
                                    {% for produit in liste_produits %}
                                        <tr>
                                            <td style="vertical-align:middle" class="text-center">{{ produit.getIdProduit }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ produit.getDateArrivee|date('d/m/Y H:i:s') }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ produit.getDateDepart|date('d/m/Y H:i:s') }}</td>
                                            <td style="vertical-align:middle" class="text-center" data-id="{{ produit.getSalle.getIdSalle }}">
                                                {{ produit.getSalle.getIdSalle }} - {{ produit.getSalle.getTitre }}<br>
                                                <img src="{{ assets('uploads/' ~ produit.getSalle.getPhoto) }}" class="img-responsive center-block imgSalleAdmin" alt="{{ 'Salle de ' ~ produit.getSalle.getCategorie }}">
                                            </td>
                                            <td style="vertical-align:middle" class="text-center">{{ produit.getSalle.getPrix }}</td>
                                            <td style="vertical-align:middle" class="text-center">{{ produit.getEtat }}</td>
                                            <td style="vertical-align:middle" class="text-center">
                                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                                    <a href="#" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                    <a href="#" class="btnUpdateProduit btn btn-primary" data-id="{{ produit.getIdProduit }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a href="#" class="btnDeleteProduit btn btn-danger" data-id="{{ produit.getIdProduit }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->
    <div class="modal fade" id="produitModal" tabindex="-1" role="dialog" aria-labelledby="produitModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="produitModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" id="produitForm" action="#"  data-type="" data-id="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.inputDateTimePicker('Date d\'arrivée', 'dateArrivee', 'text', 'md-4', 'md-8', 'yyyy-mm-dd hh:mm:ss', '', produitErrors, 'dateArriveeInput') }}
                                </div>
                                <div class="form-group">
                                    {{ form.inputDateTimePicker('Date de départ', 'dateDepart', 'text', 'md-4', 'md-8', 'yyyy-mm-dd hh:mm:ss', '', produitErrors, 'dateDepartInput') }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% set listeDesSalles = [] %}
                                    {% for salle in listSalles %}
                                        {% set listeDesSalles = listeDesSalles|merge([{
                                            'text': salle.id_salle ~ ' - ' ~ salle.titre ~ ' - ' ~ salle.adresse ~ ', ' ~ salle.cp ~ ' - ' ~ salle.capacite ~ ' pers.',
                                            'id': salle.id_salle
                                        }]) %}
                                    {% endfor %}
                                    {{ form.selectProduits('Salle', 'salle', listeDesSalles, 'md-3', 'md-9') }}
                                </div>
                                <div class="form-group">
                                    {{ form.input('Tarif', 'tarif', 'text', 'md-3', 'md-9', 'Prix en euros', '', produitErrors, 'tarifInput') }}
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 pull-right">
                                        <button type="submit" class="btn btn-primary">
                                            Ajouter <span class="loader"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyContent %}