{% extends 'layout.html.twig' %}

{% import "includes/macros/forms.html.twig" as form %}

{% block title %}
    Connexion -
{% endblock title %}

{% block bodyContent %}
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h2 class="text-center">Se connecter</h2>
            <form method="post" class="form-horizontal">
                <div class="form-group {{ getClassError('pseudoInput') }}">
                    <input id="pseudoInput" name="pseudoInput" placeholder="Votre pseudo" class="form-control" type="text" value="">
                    {{ getLabelError('pseudoInput') }}
                </div>
                <div class="form-group {{ getClassError('passwordInput') }}">
                    <input id="passwordInput" name="passwordInput" placeholder="Votre mot de passe" class="form-control" type="password">
                    {{ getLabelError('passwordInput') }}
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-success btn-block" type="submit">Connexion</button>
                        <a href="{{ getRoute('public.ls_inscription') }}" class="btn btn-primary btn-xs btn-block">Inscription</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock bodyContent %}