{% extends 'layout.html.twig' %}

{% import "includes/macros/forms.html.twig" as form %}

{% block title %}
    {{ produit.categorie }} {{ produit.titre }} -
{% endblock title %}

{% block css %}
    {{ parent() }}
    <link href="{{ assets('web/assets/css/animate.css') }}" rel="stylesheet" />
{% endblock css %}

{% block js %}
    {{ parent() }}
    <script src="{{ assets('web/assets/js/jsRouting.js') }}"></script>
    <script src="{{ assets('web/assets/js/form.js') }}"></script>
    <script src="{{ assets('web/assets/js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ assets('web/assets/js/notifications.js') }}"></script>
    <script src="{{ assets('web/assets/js/avis.js') }}"></script>
    <script src="{{ assets('web/assets/js/produit.js') }}"></script>
{% endblock js %}

{% block bodyContent %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                {% set liste_notes = [] %}
                {% for note in notes %}
                    {% set liste_notes = liste_notes|merge([note]) %}
                {% endfor %}
                <h2>
                    <b>{{ produit.categorie }} {{ produit.titre }}</b> {{ getNote(getMoyenne(liste_notes))|raw|nl2br }}
                    <span class="pull-right">
                    {% if userConnected %}
                        {% set wordReserved = '' %}
                        {% if panier is defined and panier|length > 0 %}
                            {% for key, produitPanier in panier %}
                                {% if key == produit.id_produit %}
                                    {% set wordReserved = 'disabled' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <a href="#" class="btn btn-success {{ wordReserved }}" id="btnAddToCart" data-id="{{ produit.id_produit }}">Ajouter au panier</a>
                    {% else %}
                        <a href="{{ app.racineWeb }}{{ getRoute('public.connexion') }}" class="btn btn-primary">Connectez-vous pour réserver</a>
                    {% endif %}
                    </span>
                </h2>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <img src="../web/uploads/{{ produit.photo }}" class="img-responsive" alt="...">
                </div>
                <div class="col-md-5">
                    <h4><b>Description</b></h4>
                    <p>{{ produit.description }}</p>
                    <h4><b>Localisation</b></h4>
                    <span id="adresse" class="is_hidden">{{ produit.adresse ~ ' ' ~ produit.cp ~ ' ' ~ produit.ville }}</span>
                    <iframe id="map" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4><b>Informations complémentaires</b></h4>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-calendar" aria-hidden="true"></i> <b>Arrivée :</b> {{ produit.date_arrivee|date('d/m/Y H:i:s') }}
                            <br>
                            <br>
                            <i class="fa fa-calendar" aria-hidden="true"></i> <b>Départ :</b> {{ produit.date_depart|date('d/m/Y H:i:s') }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-users" aria-hidden="true"></i> <b>Capacité :</b> {{ produit.capacite }}
                            <br>
                            <br>
                            <i class="fa fa-inbox" aria-hidden="true"></i> <b>Catégorie :</b> {{ produit.categorie }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <b>Adresse :</b> {{ produit.adresse }}, {{ produit.cp }}, {{ produit.ville }}
                            <br>
                            <br>
                            <i class="fa fa-eur" aria-hidden="true"></i> <b>Tarif :</b> {{ produit.prix|number_format(2, ',', ' ') }} €
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><b>Autres produits</b></h3>
                <hr>
                <div class="row">
                    {% for produit in autres_produits %}
                        <div class="col-md-3">
                            <a href="{{ app.racineWeb }}{{ getRoute('public.produitView', {id: produit.id_produit, slug: produit.categorie|replace({'é': 'e'}) ~ '-' ~ produit.titre|replace({'é': 'e', 'è': 'e', 'à': '&', 'ç': 'c'})}) }}"><img src="../web/uploads/{{ produit.photo }}" class="img-responsive" alt="..."></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% if userConnected %}
                    <a href="#" data-toggle="modal" data-target="#addComModal">Déposer un commentaire et une note</a>
                {% else %}
                    <a href="{{ app.racineWeb }}{{ getRoute('public.connexion') }}">Connectez-vous pour déposer un commentaire</a>
                {% endif %}
                <span class="pull-right"><a href="{{ app.racineWeb }}{{ getRoute('public.homepage') }}">Retour au catalogue</a></span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addComModal" tabindex="-1" role="dialog" aria-labelledby="addComModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="addComModalLabel">Ajouter un commentaire et une note</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="{{ app.racineWeb }}{{ getRoute('public.addAvis', {idSalle: produit.id_salle}) }}" class="form-horizontal" id="addAvisForm">
                                <div class="form-group">
                                    {{ form.textarea('Commentaire', 'commentaire', 'Votre commentaire sur la salle', 'md-2', 'md-9') }}
                                </div>

                                <div class="form-group">
                                    {{ form.selectAvis('Note', 'note', ['', '1', '2', '3', '4', '5'], 'md-2', 'md-9', '0') }}
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary center-block">
                                            Ajouter <span class="loader"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyContent %}