{% extends 'layout.html.twig' %}

{% block title %}
    {{ produit.getSalle.getCategorie }} {{ produit.getSalle.getTitre }} -
{% endblock title %}

{% block css %}
    {{ parent() }}
{% endblock css %}

{% block js %}
    {{ parent() }}
{% endblock js %}

{% block bodyContent %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                {% set liste_notes = [] %}
                {% for note in produit.getSalle.getAvis %}
                    {% set liste_notes = liste_notes|merge([note.getNote]) %}
                {% endfor %}
                <h2>
                    <b>{{ produit.getSalle.getCategorie }} - {{ produit.getSalle.getTitre }}</b> {{ displayNote(getMoyenne(liste_notes))|raw|nl2br }}
                    <span class="pull-right">
                    {% if userIsConnected() %}
                        {% set wordReserved = '' %}
                        {% if panier is defined and panier|length > 0 %}
                            {% for key, produitPanier in panier %}
                                {% if key == produit.id_produit %}
                                    {% set wordReserved = 'disabled' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <a href="#" class="btn btn-success {{ wordReserved }}" id="btnAddToCart" data-id="{{ produit.id_produit }}">Ajouter au panier</a>
                    {% else %}
                        <a href="{{ app.racineWeb ~ getRoute('public.ls_connexion') }}" class="btn btn-primary">Connectez-vous pour réserver</a>
                    {% endif %}
                    </span>
                </h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <img src="{{ assets('uploads/' ~ produit.getSalle.getPhoto) }}" class="img-responsive" alt="...">
                </div>
                <div class="col-md-5">
                    <h4><b>Description</b></h4>
                    <p>{{ produit.getSalle.getDescription }}</p>
                    <h4><b>Localisation</b></h4>
                    <span id="adresse" class="is_hidden">{{ produit.getSalle.getAdresse ~ ' ' ~ produit.getSalle.getCp ~ ' ' ~ produit.getSalle.getVille }}</span>
                    <iframe id="map" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4><b>Informations complémentaires</b></h4>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-calendar" aria-hidden="true"></i> <b>Arrivée :</b> {{ produit.getDateArrivee|date('d/m/Y H:i:s') }}
                            <br>
                            <br>
                            <i class="fa fa-calendar" aria-hidden="true"></i> <b>Départ :</b> {{ produit.getDateDepart|date('d/m/Y H:i:s') }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-users" aria-hidden="true"></i> <b>Capacité :</b> {{ produit.getSalle.getCapacite }}
                            <br>
                            <br>
                            <i class="fa fa-inbox" aria-hidden="true"></i> <b>Catégorie :</b> {{ produit.getSalle.getCategorie }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <b>Adresse :</b>
                            {{ produit.getSalle.getAdresse }}, {{ produit.getSalle.getCp }}, {{ produit.getSalle.getVille }}
                            <br>
                            <br>
                            <i class="fa fa-eur" aria-hidden="true"></i> <b>Tarif :</b> {{ produit.getPrix|number_format(2, ',', ' ') }} €
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3><b>Autres produits</b></h3>
                <hr>
                <div class="row">
                    {% for produit in autres_produits %}
                        <div class="col-md-3">
                            <a href="{{ getRoute('public.ls_voir_produit', { idProduit: produit.getIdProduit }) }}">
                                <img src="{{ assets('uploads/' ~ produit.getSalle.getPhoto) }}" class="img-responsive" alt="{{ produit.getSalle.getTitre }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% if userIsConnected() %}
                    <a href="#" data-toggle="modal" data-target="#addComModal">Déposer un commentaire et une note</a>
                {% else %}
                    <a href="#">Connectez-vous pour déposer un commentaire</a>
                {% endif %}
                <span class="pull-right"><a href="{{ getRoute('public.ls_homepage') }}">Retour au catalogue</a></span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addComModal" tabindex="-1" role="dialog" aria-labelledby="addComModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="addComModalLabel">Ajouter un commentaire et une note</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="#" class="form-horizontal" id="addAvisForm">
                                <div class="form-group">
                                    {{ form.textarea('Commentaire', 'commentaire', 'Votre commentaire sur la salle', 'md-2', 'md-9') }}
                                </div>

                                <div class="form-group">
                                    {{ form.selectAvis('Note', 'note', ['', '1', '2', '3', '4', '5'], 'md-2', 'md-9', '0') }}
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary center-block">
                                            Ajouter <span class="loader"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyContent %}