{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ assets('assets/css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ assets('assets/css/app.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{{ assets('assets/external/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ assets('assets/external/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ assets('assets/js/jsRouting.js') }}"></script>
    <script src="{{ assets('assets/js/form.js') }}"></script>
{% endblock js %}

{% block body %}
    <div id="wrapper">
        {% include 'includes/admin/navbar.html.twig' %}
        {% block bodyContent %}
        {% endblock bodyContent %}
    </div>
{% endblock body %}