<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ assets('external/libs/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ assets('external/libs/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <script src="{{ assets('external/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ assets('external/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body>
    <h1>{{ message }}, variable id : {{ id }}</h1>
    <em>Current url : {{ current_url }}</em>
</body>
</html>